body {
    font-family: 'Merriweather Sans', sans-serif;
    background: #111;
    color: #fff;
    font-size: 15px;
    line-height: 1.7;
}

a {
    color: #fff;
    text-decoration: none;
}

i {
    color: #fff;
}

/* Resource banner */
.resource-banner {
    width: 100%;
    min-height: 35vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px #828282 solid;
    border-radius: 12px;
    margin-top: 1rem;
}

.resource-banner .banner-content {
    width: 60%;
}

/* Resources */
.resources {
    width: 100%;
    height: 70vh;
    padding: 1rem;
    margin-top: 1rem;
    position: relative;
    border-radius: 12px;
}

.resources h3 {
    color: #fff;
    font-size: 30px;
}

.first-years {
    background: url("/img/element5-digital-jCIMcOpFHig-unsplash.jpg") no-repeat center center/cover;
}

.second-years {
    background: url("/img/bantersnaps-9o8YdYGTT64-unsplash.jpg") no-repeat center center/cover;
}

.third-years {
    background: url("/img/nesa-by-makers-IgUR1iX0mqM-unsplash.jpg") no-repeat center right/cover;
}

.fourth-years {
    background: url("/img/john-schnobrich-2FPjlAyMQTA-unsplash.jpg") no-repeat center center/cover;
}

.resources .resource-content {
    width: 100%;
    height: 100%;
}

.resources .content-inner {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resources p,
.resource-target p {
    margin: 0.5rem 0;
    color: #fff;
    font-size: 1rem;
}

.resource-target {
    width: 100%;
    min-height: 40vh;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 12px;
}

.resource-target ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resource-target ul li {
    margin: 1rem 1.5rem;
}

.resource-target .disclaimer {
    font-size: smaller;
    color: #da3f3f;
}

/* Material Pages */
.material {
    width: 100%;
    min-height: 40vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px #828282 solid;
    border-radius: 12px;
    margin-top: 1rem;
}

.material .material-content {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.material h3{
    font-size: 2.5rem;
    color: #ffffff;
    text
}

/* links and footer */

.links {
    background: #333;
    color: #fff;
}

.footer {
    background: #333;
    color: #fff;
}

@media(max-width: 800px) {
    .resource-banner .banner-content {
        width: 80%;
    }
}

@media(max-width: 700px) {
    .resource-banner .banner-content {
        width: 95%;
    }

    .main-nav ul.main-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2e2d2d;
        color: #fff;
        font-size: 12px;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
        z-index: 3;
    }
}