@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.activity-highlights {
  height: 80vh;
}

.activity-highlights-r {
  height: 80vh;
}

.custom-background {
  background: url('/img/icons8-team-FcLyt7lW5wg-unsplash.jpg') no-repeat center
    center/cover;
  height: 80vh;
}

.custom-background-2 {
  background: url('/img/oluwakemi-solaja-ZN52ZBFkw4Y-unsplash.jpg') no-repeat
    center center/cover;
  height: 80vh;
}

.showcase {
  height: 40vh;
  background: url('/img/alfons-morales-YLSwjSy7stw-unsplash.jpg') no-repeat
    center center/cover;
}

.showcase .content {
  width: 100%;
  height: 100%;
}

.light-blue {
  color: #00ffff;
}

.link-blue:hover {
  color: #fff;
  text-decoration: none;
}

/* About page css */
#executives .card {
  margin-bottom: 20px;
}

#executives .fab {
  color: #fff;
}

#executives .card:hover {
  background: rgb(66, 13, 130);
  background: linear-gradient(
    90deg,
    rgba(66, 13, 130, 0.7) 0%,
    rgb(65, 45, 45, 0.9) 50%,
    rgba(87, 16, 37, 0.5) 100%
  );
  color: #fff;
}

/* Resource Center */
#resource-showcase {
  height: 60vh;
  width: 100%;
  position: relative;
  background: url('/img/resource1.jpg') no-repeat center center/cover;
}

#resource-showcase #resource-center-content {
  min-height: 60vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.5);
}

.first-year {
  min-height: 40vh;
  width: 100%;
  background: url('/img/linkedin-sales-navigator-h448yp0t2qQ-unsplash.jpg')
    no-repeat center center/cover;
}

.second-year {
  min-height: 40vh;
  width: 100%;
  background: url('/img/brad-neathery-XrSzacdYbtQ-unsplash.jpg') no-repeat
    center center/cover;
}

.third-year {
  min-height: 40vh;
  width: 100%;
  background: url('/img/tamarcus-brown-T3uKisfmABY-unsplash.jpg') no-repeat
    center center/cover;
}

.fourth-year {
  min-height: 40vh;
  width: 100%;
  background: url('/img/joe-ciciarelli-BVNmFNShq6U-unsplash.jpg') no-repeat
    center center/cover;
}

/* First Year Resource page */
.first-year-showcase {
  height: 40vh;
  background: url('/img/linkedin-sales-navigator-h448yp0t2qQ-unsplash.jpg')
    no-repeat center center/cover;
}

.first-year-showcase .container {
  width: 100%;
  height: 100%;
}

/* Projects Page CSS Start*/
.project-showcase {
  height: 80vh;
}

.project-showcase-content {
  height: 100%;
  width: 100%;
}

.project-showcase-content .ps-1 {
  background: url('/img/Showcase.jpg') no-repeat center center/cover;
  width: 49%;
  height: 100%;
}

.project-showcase-content .ps-2 {
  width: 49%;
}

.project-showcase-content .ps-inner-1 {
  height: 48.5%;
  background: url('/img/john-schnobrich-2FPjlAyMQTA-unsplash1.jpg') no-repeat
    center center/cover;
}

.project-showcase-content .ps-inner-2 {
  height: 48.5%;
  background: url('/img/resource.jpg') no-repeat center center/cover;
}

.project-action {
  height: 40vh;
  width: 100%;
  background: url('/img/anyonecan.jpg') no-repeat center center/cover;
}
/* Projects Page CSS End */

@media (max-width: 769px) {
  .carousel .carousel-item {
    height: 70vh;
  }

  .carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 70vh;
  }

  .activity-highlights-r {
    display: none !important;
  }

  /* project showcase */
  .ps-1 {
    width: 100% !important;
  }
  .ps-2 {
    display: none !important;
  }
}

@media (min-width: 770px) {
  .hidden-at-md {
    display: none !important;
  }
}
